.item .layer {
    position: absolute;
    bottom: -50%;
    left: 15px;
    right: 15px;
    background-color: #fff;
    text-align: center;
    opacity: 0;
    transition: all 0.5s;
}

.item:hover .layer {
    bottom: 15px;
    opacity: 1;
}

.item , .innerBox i  {
    cursor: pointer;
}

#modalBox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    justify-content: center;
    align-items: center;
}

.innerBox{

    width: 50%;
    height: 500px;
    background-image: url(../images/portfolio-1.jpg);
    background-size: 100% 100%;
}